<button class="btn btn-primary my-4 btn-block" data-toggle="collapse" href="#addressRegisterForm"
  type="button">Adicionar
  endereço</button>
<form id="addressRegisterForm" class="border border-light p-5 collapse" [formGroup]="addressesForm">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <input formControlName="address" type="text" class="form-control" id="validationDefault01" placeholder="Endereço"
        required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <input formControlName="size" type="text" class="form-control" id="validationDefault02" placeholder="Tamanho"
        required>
    </div>
    <div class="col-md-3 mb-3">
      <app-address-type-selector formControlName="type"></app-address-type-selector>
    </div>
    <div class="col mb-3">
      <input formControlName="zip" type="text" class="form-control" id="validationDefault04" placeholder="CEP" required>
    </div>
  </div>
  <button data-toggle="collapse" href="#addressRegisterForm" class="btn btn-primary my-4 btn-block"
    (click)="addAddress()" type="button">Cadastrar</button>
  <button data-toggle="collapse" href="#addressRegisterForm" class="btn btn-secondary my-4 btn-block"
    type="button">Cancelar</button>
</form>
