<div class="container">
  <form class="text-center border border-light p-5" [formGroup]="signinForm" (ngSubmit)="login()">
    <fa-icon [icon]="faUser" size="4x"></fa-icon>
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <input type="email" id="inputEmail" formControlName="email" class="form-control mt-4" placeholder="E-mail" required=""
      autofocus="">
    <app-formerror *ngIf="signinForm.get('email').errors?.required" text="Este campo é obrigatório">
    </app-formerror>
    <input type="password" id="inputPassword" formControlName="password" class="form-control mt-4" placeholder="Senha"
      required="">
    <app-formerror *ngIf="signinForm.get('password').errors?.required" text="Este campo é obrigatório">
    </app-formerror>
    <button class="btn btn-primary my-4 btn-block" type="submit">Entrar</button>
  </form>
</div>
