  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/img/home.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">CuidaDoMeuPet</h1>
        <p>CuidaDoMeuPet é uma plataforma que tem como objetivo conectar os donos de animais de estimação com pessoas que oferecem serviços de hospedagem temporária ou cuidados a domicílio</p>
        <a class="btn btn-primary" href="#">Mais Informações</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">"A grandeza de uma nação pode ser julgada pelo modo que seus animais são tratados." Mahatma Gandhi</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Cuidados Domiciliares</h2>
            <p class="card-text">Serviços de Cuidados Domiciliares para o seu Pet</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Mais Informações</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Hotelaria</h2>
            <p class="card-text">Serviços de Hotelaria para o seu Pet</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Mais Informações</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Confiança</h2>
            <p class="card-text">Nós nos preocupamos muito com o bem estar do eu Pet. Por conta disso, uma avaliação rigorosa é feita com todos os usuários que oferecem serviços em nossa plataforma</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Mais Informações</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
