<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <!-- <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <img src="assets/user-circle-regular.png" alt="Imagem do usuário" width="140" height="140">
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Douglas Schneider</h4>
                    <!-- <p class="mb-0">@johnny.s</p> -->
                    <p></p>
                    <p></p>
                    <!-- <div class="text-muted"><small>Last seen 2 hours ago</small></div> -->
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Alterar imagem</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">Cliente</span>
                    <div class="text-muted"><small>Cadastrado em 22 Abril 2020</small></div>
                  </div>
                </div>
              </div>

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" [ngClass]="{ 'active':activeTab==='profile'}" (click)="tabActive('profile')" data-toggle="tab">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{ 'active':activeTab==='pets'}" (click)="tabActive('pets')" data-toggle="tab">Meus pets</a>
                </li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane fade show active" id="profile" [ngClass]="{ 'active':activeTab==='profile'}">
                  <!-- Default form profile -->
                  <form class="form" [formGroup]="profileForm" (ngSubmit)="update()">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                               <!-- Name -->
                              <label>Nome Completo</label>
                              <input type ="text" formControlName="name" class="form-control" name="name" placeholder="João Silva" value="Douglas Schneider">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <!-- Email -->
                            <div class="form-group">
                              <label>Email</label>
                              <input type ="email" formControlName="email" class="form-control" placeholder="usuario@cuidadomeupet.com">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <!-- Sobre -->
                            <div class="form-group">
                              <label>Sobre</label>
                              <textarea class="form-control" rows="5" placeholder="Descrição"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-2"><b>Trocar Senha</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Senha atual</label>
                              <input type ="password" formControlName="password" class="form-control" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Nova senha</label>
                              <input type ="password" formControlName="newPassword" class="form-control" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirmar Nova Senha</label>
                              <input type ="password" formControlName="confirmPassword" class="form-control" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Salvar alterações</button>
                      </div>
                    </div>
                  </form>

                  

                </div>

                <div class="tab-pane fade show active" id="pets" [ngClass]="{ 'active':activeTab==='pets'}">
                    <div class="col d-flex">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-plus"></i>
                        <span>Adicionar pet</span>
                      </button>
                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary">
                <i class="fa fa-sign-out"></i>
                <span>Sair</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Ajuda</h6>
            <p class="card-text">Precisa de alguma ajuda, entre em contato conosco</p>
            <button type="button" class="btn btn-primary">Fale conosco</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>