<button class="btn btn-primary my-4 btn-block" type="button" (click)="addService()">Cadastrar</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Preço</th>
      <th scope="col">Período</th>
      <th scope="col">Usuário</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.typeLabel }}</td>
      <td>{{ service.price | currency:'BRL' }}</td>
      <td>{{ service.startDate | date }} até {{ service.endDate | date }}</td>
      <td>{{ service.userName }}</td>
      <td><button class="btn btn-secondary" (click)="viewService(service)">Visualizar</button></td>
    </tr>
  </tbody>
</table>
