<button class="btn btn-primary my-4 btn-block" type="button" (click)="addService()">Cadastrar</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Preço</th>
      <th scope="col">Período</th>
      <th scope="col">Usuário</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wrapper of list">
      <td>{{ wrapper.serviceType }}</td>
      <td>{{ wrapper.service.price | currency:'BRL' }}</td>
      <td>{{ wrapper.service.startDate | date }} até {{ wrapper.service.endDate | date }}</td>
      <td>{{ wrapper.userName }}</td>
      <td><button class="btn btn-secondary" (click)="viewService(wrapper)">Visualizar</button></td>
    </tr>
  </tbody>
</table>
