<form class="container border border-light p-5" [formGroup]="servicesForm" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tipo</label>
      <app-service-types-selector formControlName="type"></app-service-types-selector>
    </div>
    <div class="form-group col-md-6">
      <label>Preço</label>
      <input formControlName="price" type="number" class="form-control" placeholder="Preço">
    </div>
    <div class="form-group">
      <app-date-range-picker formControlName="dateRange"></app-date-range-picker>
    </div>
  </div>
  <div class="form-group">
    <app-species-list-selector formControlName="species"></app-species-list-selector>
  </div>
  <div class="form-row">
    <!-- <div class="form-group col-md-4">
      <label>Tamanho</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label col-md-4">Pequeno</label>
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label col-md-4">Médio</label>
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label col-md-4">Grande</label>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label>Sexo</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label col-md-4">Masculino</label>
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label col-md-4">Feminino</label>
        </div>
    </div> -->
    <div class="form-group col-md-12">
      <label>Observações</label>
      <textarea formControlName="additionalInfo" class="form-control" rows="3"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!servicesForm.valid">Salvar</button>
  <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
</form>
