<form class="container border border-light p-5" [formGroup]="servicesForm" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col-md">
      <label>Tipo</label>
      <app-service-types-selector formControlName="type"></app-service-types-selector>
    </div>
    <div *ngIf="this.servicesForm.value.type === 'HOSTING'" class="form-group col-md">
      <label>Endereço</label>
      <app-addresses-selector [addresses]="availableAddresses" formControlName="address"></app-addresses-selector>
    </div>
    <div class="form-group col-md">
      <label>Preço</label>
      <input formControlName="price" type="number" class="form-control" placeholder="Preço">
    </div>
  </div>
  <div class="form-group">
    <app-species-list-selector formControlName="species"></app-species-list-selector>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Observações</label>
      <textarea formControlName="additionalInfo" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group col-md-6">
      <app-date-range-picker formControlName="dateRange"></app-date-range-picker>
    </div>
  </div>
  <button type="submit" class="btn btn-primary my-4 btn-block" [disabled]="!(servicesForm.valid && validAddress())">Salvar</button>
  <button type="button" (click)="cancel()" class="btn btn-secondary my-4 btn-block">Cancelar</button>
</form>
